body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #FF0000;
    margin: 80px 0;
}

td, th {
    border: 1px solid black;
}
.box {
    width: 500px;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;

}

.button {
    font-size: 1em;
    padding: 10px;
    color: #000;
    border: 2px solid #FF0000;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #FF0000;
}

.overlayclose {
    position: fixed;
    top: 0;
}
.overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 1024px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    width: 1024px;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #f00;
}
.popup .close:hover {
    color: #ff0000;
}
.popup .content {
    max-height: 50%;
    width: 1024px;
    overflow: auto;
}

@media screen and (max-width: 1000px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}